<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="images/favicon.ico" type="image/ico" />

    <title>User Choice </title>

    <!-- Bootstrap -->
    
  </head>

<body class="nav-md">

<div>
    Please fill check box :

    <div>

        <span> <b>Cost</b></span>

        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Employee Cost (INR Crore or $)</span>
        </ul>

        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Revenue Per Employe ($)</span>
        </ul>

        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Employee Cost as % of Revenue</span>
        </ul>

        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Average Employee Cost (INR Crore or $)</span>
        </ul>
    </div>


    <div>
        <span><b>Performance</b></span>
        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Voluntary Attrition - Annual</span>
        </ul>

        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Overall Attrition - Annual (Voluntary + Involuntary)</span>
        </ul>

        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Average Hiring (Quarterly)</span>
        </ul>

        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Average Hiring (Annual)</span>
        </ul>

        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Cost Per Hire (Annual)</span>
        </ul>
        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Time to Hire (Days)</span>
        </ul>
        <ul>
            <span><input type="checkbox" id="myCheck" onclick="myFunction()">Hiring Channel Mix (Agency, Referral & Direct)</span>
        </ul>
    </div>



    <div>
    <span><b>Efficiency</b></span>
       <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">HR Headcount</span>
       </ul>
       
        <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">Employee to HR Ratio</span>
        </ul>


       <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">HR BP Headcount</span>
       </ul>
       
        <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">Employee to HR BP Ratio</span>
        </ul>

        <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">India HR Spend in Million $</span>
        </ul>

        <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">India HR Spend as % of Revenue</span>
        </ul>
    </div>


    <div>
    <span><b>HR Productivity</b></span>
       <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()"># of Recruiters (TAG Team)</span>
       </ul>
       
        <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">Joiner Per Recruiter (Quarterly)</span>
        </ul>


       <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">Joiner Per Recruiter (Annual)</span>
       </ul>
       
        <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">Training Time (Days/Hours)</span>
        </ul>

        <ul>
         <span><input type="checkbox" id="myCheck" onclick="myFunction()">Training Spend (Annual)</span>
        </ul>
    </div>




</div>


<script type="text/javascript">
  function myFunction(val){

  }

</script>
  </body>
</html>
